.product-card {
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
  }
  
  .product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .product-card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .btn-gold ,.btn-gold:focus,
  .btn-gold:active,
  .btn-gold:focus:active{
    background-color: white;
    border: 1px solid #120d09;
    color: #120d09;
    font-weight: 500;
    outline: none !important;
    box-shadow: none !important;
    box-shadow: 1px 1px 10px #120d09;

  }
 
  
  .btn-gold:hover {
    background-color: #120d09;
    color: #fff;
    outline: none;
    border:none;
    box-shadow: 0 0 10px #120d09;

    
  }
  .product-img {
    height: 200px;
    object-fit: contain;
  }
  
  .seeMore {
    position: relative;
    z-index: 1;
    paddinng :30px
  }
  
  .seeMore:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 23, 0.329);
    z-index: -1;
  }
  .seeMore button {
    margin:20px
  }
  