.custom-accordion .accordion-button {
    color: #120d09;
    background-color: transparent;
    border-bottom: 1px solid #f6b31a;
    box-shadow: none;
  }
  
  .custom-accordion .accordion-button:focus {
    outline: none;
    box-shadow: none;
    /* border-color: #f6b31a; */
  }
  
  .custom-accordion .accordion-body {
    color: #120d09;
    /* border-top: 1px solid #f6b31a; */
  }
  